.custom-dialog {
    color: $white;
    position: relative;
    max-height: 520px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 50;
    overflow: hidden;
    background-position: 100%;
    background-size: contain;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height .3s ease;
    box-shadow: 0 1.5rem 4rem rgba(23, 24, 24, 0.15);

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3rem;
        padding: 24px 8px;
        cursor: pointer;
        z-index: 1;
        color: $black;
    }

    &__container {

        background: linear-gradient(90deg, #000 50%, transparent);
        width: 50%;
        padding-top: 3rem;
        height: 100%;
        padding-left: 5rem;

        @media only screen and (max-width:74em) {
            background: linear-gradient(90deg, #000 40%, rgba(0, 0, 0, 0.733), transparent);
            width: 88%;
        }

        @media only screen and (max-width: 61.25em) {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.966) 30%, transparent);
            width: 100%;
        }

        @media only screen and (max-width: 37.5em) {
            padding-top: 1rem;
            padding-left: 1rem;
        }
    }

    &__title {
        font-size: 4rem;

    }

    &__meta {

        &__year {
            font-size: 1.6rem;
            padding: 0 8px;
        }

        &__rating {
            font-size: 1.6rem;
            padding: 0 8px;
            color: $green;
        }
    }

    &__genres {
        font-size: 1.6rem;
        padding: 0 8px;
        white-space: nowrap;
    }


    &__tabs {
        bottom: 0;
        width: 100%;
        position: absolute;
        -ms-flex-item-align: center;
        height: 3rem;
        z-index: 1;
        font-size: 1.6rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        span {
            font-size: 1.8rem;
            margin: 0 2rem 0 0;
            cursor: pointer;

            &.active {
                border-bottom: 5px solid $green;

            }
        }
    }

    &__overview {
        font-size: 1.4rem;
        padding: 0 8px;
    }

    &__overview-tab,
    &__trailer-tab,
    &__reviews-tab,
    &__similar-tab {
        transition: transform .3s ease;
        -webkit-transform: .3s ease;
        visibility: hidden;
        opacity: 0;
    }

    &__overview-tab.active,
    &__trailer-tab.active,
    &__reviews-tab.active,
    &__similar-tab.active {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

}

.is-open {
    height: 450px;
    visibility: visible;
    opacity: 1;
}

.mdl-dialog {
    width: 100%;
}