@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
}
