.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.md-light {
    color: rgba(255, 255, 255, 1);
}
.md-cyan {
    color: $cyan;
}

.active {
    display: block ;
} 

.no-a {
    color: inherit;
    text-decoration: unset;
}