@import './fonts.scss';
@import './variables.scss';
@import './placeholder-card.scss';
@import './movieCard.scss';

body {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-family: 'Roboto';
}

#main-content.mdl-layout__content {
    overflow-y: scroll;
}

section {
    width: 100%;
    max-width: 1312px;
    padding-left: 20px;
    padding-right: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    @media (max-width: 575.98px) {
        justify-content: center;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        justify-content: center;
    }
}

.mdl-layout__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

// @media (min-width: 992px) and (max-width: 1199.98px) {
    //     section {
    //         padding-left: 3vw !important;
    //         padding-right: 3vw !important;
    //     }
    // }

@media (min-width: 576px) and (max-width: 767.98px) {
    .mdl-cell--3-col,
    .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {
        width: calc(50% - 16px);
    }
}
