@import './fonts.scss';
@import './variables.scss';
@import './placeholder-card.scss';
@import './movieCard.scss';
@import './mixins.scss';

html,
body {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-family: 'Roboto';
}

#main-content.mdl-layout__content {
    overflow-y: scroll;
}

section {
    width: 100%;
    max-width: 1312px;
    padding-left: 20px;
    padding-right: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    @media (max-width: 575.98px) {
        justify-content: center;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        justify-content: center;
    }
}

.mdl-layout__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;

}

.mdl-layout__header-row {
    background: $cyan;

    .mdl-layout-title {
        font-size: 2rem;

    }

    .mdl-navigation {
        &__link {
            font-size: 2rem;

        }
    }
}

.mdl-layout {
    left: unset;
    right: 0;

    &__drawer {
        left: unset;
        right: 0;
        opacity: 0;

        &-button {
            left: unset;
            right: 0;
        }
    }
}

#custom-layout {
    .mdl-layout__header .mdl-layout__drawer-button {
        background-color: unset;
    }
}


.mdl-layout__drawer.is-visible {
    transition: all 0.5s;
    opacity: 1;
    animation-fill-mode: forwards;
    -webkit-animation: open_drawer 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateX(0);
}

.mdl-layour__drawer {
    // visibility: hidden;
}


@-webkit-keyframes open_drawer {
    to {
        -webkit-transform: translateX(-0px);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .mdl-cell--3-col,
    .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {
        width: calc(50% - 16px);
    }
}