@import './mixins.scss';

.movie-card {
    position: relative;
    height: 350px;
    min-width: 350px;
    width: 450px;
    margin: 1rem 4rem 1rem 4rem;
    cursor: pointer;
    display: flex;
    color: $white;
    background: $black 50% / cover;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.6s ease;
    z-index: 1;
    overflow: visible;

    &:hover {
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5),
            0 15px 20px rgba(0, 0, 0, 0.23);
        cursor: pointer;

        // .mdl-card__actions {
        //     height: 200px;
        // }

        .mdl-card__more {
            opacity: 0.8;
        }
    }

    @media (max-width: 575.98px) and (any-pointer: coarse) {
        margin: 1rem;
        width: 100%;
    }

    .mdl-card__actions {
        height: 200px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.7);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 1.6rem;
        transition: all ease-in-out;
        transition-duration: 0.8s;

        &:hover {
            height: 200px;
        }
    }

    .mdl-card__more {
        width: 115px;
        height: 115px;
        position: absolute;
        bottom: 15px;
        left: calc(50% - 60px);
        clip: rect(auto, 180px, auto, 100px);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0;
        transition: all ease-in-out;
        transition-duration: 0.8s;

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            background: linear-gradient(45deg, transparent, $white 7%, $white);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

#main-content {
    .mdl-card {
        p {
            margin-bottom: 5px;
        }

        &__title {
            font-size: 1.8rem;
            padding: 0;
            color: $white;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__meta {
            &__rating {
                color: $green;
                padding-left: 16px;
            }
        }

        &__genres {
            font-size: 1.4rem;
            color: $gray;
            width: 100%;
            padding: 4px 0;
            white-space: wrap;
            text-overflow: ellipsis;
        }

        &__overview {
            padding-top: 10px;
            font-size: 1.4rem;
            overflow: hidden;
            max-height: 45px;
        }
    }
}
