// media queries
$xs: #{'(max-width: 575.98px)'};
$sm: #{'(min-width: 576px) and (max-width: 767.98px)'};
$md: #{'(min-width: 768px) and (max-width: 991.98px)'};
$lg: #{'(min-width: 992px) and (max-width: 1199.98px)'};
$xl: #{'(min-width: 1200px)'};

// color palette;
$white: whitesmoke;
$green: #00e871;
$darkGreen: rgb(12, 84, 107);
$black: #081c24;
$cyan: #00756a;
$gray: hsla(0, 0%, 100%, 0.6);
