
.mdl-layout {
    left: unset;
    right: 0;

    overflow-x: unset;
    &__content {
        display: flex;
        justify-content: center;
        overflow: unset;
        overflow-y: unset;
        margin: 10rem 1rem;
    }
    &__content.is-open {

    }

    &__container {
        position: relative;
    }

    &__header {
        background: linear-gradient(to right, #ece9e6, #ffffff);
        transition: all 0.2s ease;
        color: $cyan;
        box-shadow: unset;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 10;
        cursor: pointer;
        text-align: center;

        &-row {
            .mdl-navigation__link {
                color: inherit;
                font-size: 2rem;
            }
        }
    }

    &__drawer {
        left: unset;
        right: 0;
        display: none;
        z-index: 50;
        position: fixed;
        &-button {
            left: unset;
            right: 0;
        }
    }
}

#custom-layout {
    .mdl-layout__header .mdl-layout__drawer-button {
        background-color: unset;
        color: inherit;
    }
}

.movierama {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.colorfull {
    background: $cyan;
    color: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-layout__drawer.is-visible {
    transition: all 0.5s;
    display: block;
    animation-fill-mode: forwards;
    -webkit-animation: open_drawer 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateX(0);
}

@-webkit-keyframes open_drawer {
    to {
        -webkit-transform: translateX(-0px);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .mdl-cell--3-col,
    .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {
        width: calc(50% - 16px);
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        padding: 0 16px 0 32px;
    }
}
