section {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: 0.5s all ease-in-out;
    will-change: display;

    @media (max-width: 57.98em) {
        justify-content: center;
    }

    @media (min-width: 57.6em) and (max-width: 109.4em) {
        justify-content: center;
    }
}

.template-error {
    color: darkred;
    text-align: center;
}
